<!-- <!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../vendors/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">

    

</head>
<body> -->
    <div>
        <div class="mx-auto rounded-2 shadow mt-4 pb-4 " style="width: 30rem; height: auto; background: #000042; color: #fff; padding: 20px 40px;">
            <form class="login-form" ng-submit="login()" autocomplete="off">   
                <div class="text-center pb-3 text-underline">
                    <h4 class="text-center">Login</h4>
                </div>
                <div class="mb-4" style="padding: 10px 20px; background: #FEF2F2;" ng-if="loginerror">
                    <p style="color: #DC2626; margin: 0;">{{loginerror}}</p>
                </div>

                <div class="mb-4 form-input">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" placeholder="Email " class="form-control bg-white rounded-0" id="email" name="email" style="height: 40px;" ng-model="email" autocomplete="off" role="presentation"/>  
                </div>
                <div class="mb-4 form-input">
                    <label for="password" class="form-label" >Password</label>
                    <input type="password" placeholder="Password" class="form-control rounded-0" id="password" name="password" style="height: 40px;" ng-model="password" autocomplete="new-password" />  
                </div>

                <div class="pb-3">
                    <button type="submit" class="text-white w-100" style="background: rgb(110 101 217); height: 40px; border: none; offset: none; outline: none;">Login</button>
                </div>
            </form>
        </div>
    </div>
<!-- </body>
</html> -->